// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #c5c1bc;
$black: #212529;

//Overwrite bootstrap colors
$primary: #8B6DB1;
$secondary: #72D1B3;
//$tertiary: #25a18e;

$gradient: linear-gradient(180deg, rgba(0, 165, 207, 1) 0%, rgba(37, 161, 142, 1) 70%, rgba(122, 229, 130, 1) 100%);

$dark-primary: #565050;
$dark-secondary: #383535;
$dark-tertiary: #211F1F;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
