@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body data-bs-spy="scroll" data-bs-target="#navbar-sidebar">
    <div class="home-page">
        <div id="intro">
            <div class="intro-background"></div>
            <p id="clip">WIM</p>
        </div>
        <div id="about" style="height: 100vh">
        </div>
    </div>
</body>
