@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div id="intro-page">
        <div class="intro-background"></div>
        <p id="clip">WIM</p>
    </div>
    <div id="about-page">
    </div>
</div>
